body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.tile {
  background: #fff;
  border: 1px solid #999; 
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px; 
  padding: 0;
  text-align: center;
  width: 34px;
}

div .escape-tile{
  -webkit-box-shadow:inset 0px 0px 0px 3px #000000;
  -moz-box-shadow:inset 0px 0px 0px 3px #000000;
  box-shadow:inset 0px 0px 0px 3px #000000;
}

.maze {
  display: flex;
  flex-direction: row;
}
